.content h1 {
	font-size: 35px;
}

.content h2 {
	font-size: 30px;
}

.content h3 {
	font-size: 26px;
}

.content h4 {
	font-size: 23px;
}

.content h5 {
	font-size: 21px;
}

.content h6 {
	font-size: 20px;
}

header,
footer,
img {
	user-select: none;
}

.view-times {
	/*font-size: 15px;
	margin-top: 35px;
	text-align: right;
	color: gray;*/
	font-size: 14px;
	color: #828282;
}

blockquote {
	font-style: normal;
	font-size: medium;
}

p {
	letter-spacing: 0.2px;
}

article {
	/*background-color: blanchedalmond;
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.3);
	animation: fadeIn ease-in 0.5s;*/
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

.preface {
	color: rgb(0, 127, 212);
	/*user-select: text;*/
}

#toc_list {
	position: fixed;
	top: 90px;
	left: 20px;
	/* color: gray; */
	overflow-y: scroll;
	max-height:85%;
}

#toc_list :visited {
	color: black;
}

#toc_list :link {
	color: black;
}

#toc_list h1 {
	font-size: 20px;
}

#toc_list h2 {
	font-size: 16px;
	margin-left: 15px;
}

#toc_list h3 {
	font-size: 13px;
	margin-left: 30px;
}

#toc_list h4 {
	font-size: 11px;
	margin-left: 45px;
}

body {
	user-select: none;
}

header {
	letter-spacing: normal;
}

html {
	scroll-behavior: smooth;
}

.post-title {
	letter-spacing: 1px;
}

#toc_list_visibility {
	position: fixed;
	top: 60px;
	left: 20px;
}